<%= form_for(@prize, url: admin_prize_path(id: @prize.id || ''), html: { class: "form" }) do |form| %>
  <% if prize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prize.errors.count, "error") %> prohibited this prize from being saved:</h2>

      <ul>
      <% prize.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prize %>
    <%= form.text_field :prize, id: :prize_prize %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock, id: :prize_stock %>
  </div>

  <div class="field">
    <p>Conditions: </p>
    <%= form.fields_for :prize_conditions do |prize_condition_form| %>
      <p>
          Condition type <%= prize_condition_form.select :condition_type, options_for_select(["", "equal", "multiple"], prize_condition_form.object.condition_type) %>
          Values <%= prize_condition_form.text_field :condition_values %>
          after subscriber number <%= prize_condition_form.number_field :after_subscribers %>
      </p>
    <% end %>
  </div>

  <div class="field">
    <%= submit_tag "Add condition", :type => 'button', :id => 'addCondition',
          :onclick => 'addConditionField()' %>

    <div id="condition" style="display: none">
      <p>Create multiple condition values for the same condition adding values separated by space.</p>
    </div>

    <div id="myList" class="form-group">
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
  function addConditionField() {

    var date = new Date();

    var mSec = date.getTime();

    idAttributConditionType =
          "prize_prize_conditions_attributes_0_condition_type".replace("0", mSec);
    nameAttributConditionType =
          "prize[prize_conditions_attributes][0][condition_type]".replace("0", mSec);

    idAttributeConditionValues =
          "prize_prize_conditions_attributes_0_condition_values".replace("0", mSec);
    nameAttributeConditionValues =
          "prize[prize_conditions_attributes][0][condition_values]".replace("0", mSec);

    idAttributeAfterSubscribers =
          "prize_prize_conditions_attributes_0_after_subscribers".replace("0", mSec);
    nameAttributeAfterSubscribers =
          "prize[prize_conditions_attributes][0][after_subscribers]".replace("0", mSec);

    var div = document.createElement("div");
    div.setAttribute("class", "condition-div")

    var labelConditionType = document.createElement("label");
    labelConditionType.setAttribute("for", idAttributConditionType);
    var conditionTypeLabelText = document.createTextNode("Condition type");
    labelConditionType.appendChild(conditionTypeLabelText);
    div.appendChild(labelConditionType);

    var inputConditionType = document.createElement("SELECT");
    inputConditionType.setAttribute("type", "select");
    inputConditionType.setAttribute("id", idAttributConditionType);
    inputConditionType.setAttribute("name", nameAttributConditionType);
    div.appendChild(inputConditionType);
    var array_opt = ["", "equal", "multiple"]
    for (var i = 0; i < array_opt.length; i++) {
        var option = document.createElement("option");
        option.value = array_opt[i];
        option.text = array_opt[i];
        inputConditionType.appendChild(option);
    }

    var labelConditionValues = document.createElement("label");
    labelConditionValues.setAttribute("for", idAttributeConditionValues);
    var ConditionValuesLabelText = document.createTextNode("values");
    labelConditionValues.appendChild(ConditionValuesLabelText);
    div.appendChild(labelConditionValues);

    var inputConditionValues = document.createElement("INPUT");
    inputConditionValues.setAttribute("type", "text");
    inputConditionValues.setAttribute("placeholder", "e.g: 10 50 100 500");
    inputConditionValues.setAttribute("id", idAttributeConditionValues);
    inputConditionValues.setAttribute("name", nameAttributeConditionValues);
    div.appendChild(inputConditionValues);

    var labelAfterSubscribers = document.createElement("label");
    labelAfterSubscribers.setAttribute("for", idAttributeAfterSubscribers);
    var AfterSubscribersLabelText = document.createTextNode("after subscriber number");
    labelAfterSubscribers.appendChild(AfterSubscribersLabelText);
    div.appendChild(labelAfterSubscribers);

    var inputAfterSubscribers = document.createElement("INPUT");
    inputAfterSubscribers.setAttribute("type", "number");
    inputAfterSubscribers.setAttribute("id", idAttributeAfterSubscribers);
    inputAfterSubscribers.setAttribute("name", nameAttributeAfterSubscribers);
    div.appendChild(inputAfterSubscribers);

    document.getElementById("myList").appendChild(div);

    document.getElementById("condition").setAttribute("style", "display: block");
  }
</script>

<style type="text/css">
  label {
    display: inline;
    margin: 10px;
  }

  .condition-div {
    margin: 10px;
  }
</style>
