<p id="notice"><%= notice %></p>

<h1>Prizes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Prize</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prizes.each do |prize| %>
      <tr>
        <td><%= prize.prize %></td>
        <td><%= prize.stock %></td>
        <td><%= link_to 'Show', admin_prize_path(prize) %></td>
        <td><%= link_to 'Edit', edit_admin_prize_path(prize) %></td>
        <td><%= link_to 'Destroy', admin_prize_path(prize), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prize', new_admin_prize_path %>
