<p id="notice"><%= notice %></p>

<p>
  <strong>Prize:</strong>
  <%= @prize.prize %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @prize.stock %>
</p>

<%= link_to 'Edit', edit_admin_prize_path(@prize) %> |
<%= link_to 'Back', admin_prizes_path %>
