<%= form_with(scope: :session_params, url: admin_sessions_create_path, local: true ) do |form| %>

  <% if flash[:alert] %>
    <div id="error_explanation">
      <h2><%= flash[:alert] %></h2>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login, id: :login %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
