<%= form_for(@admin_user, url: admin_admin_user_path(id: @admin_user.id || ''), local: true ) do |form| %>
  <% if admin_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_user.errors.count, "error") %> prohibited this admin_user from being saved:</h2>

      <ul>
      <% admin_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :admin_user_username %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :admin_user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :admin_user_password%>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password, id: :admin_user_password_confirmation%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
