<p id="notice"><%= notice %></p>

<h1>Admin Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <td><%= admin_user.username %></td>
        <td><%= admin_user.email %></td>
        <td><%= link_to 'Show', admin_admin_user_path(admin_user) %></td>
        <td><%= link_to 'Edit', edit_admin_admin_user_path(admin_user) %></td>
        <td><%= link_to 'Destroy', admin_admin_user_path(admin_user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin User', new_admin_admin_user_path %>
