<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @admin_user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_user.email %>
</p>

<p>
  <strong>Password :</strong>
  <%= @admin_user.password %>
</p>

<p>
  <strong>Password Confirmation:</strong>
  <%= @admin_user.password_confirmation %>
</p>

<%= link_to 'Edit', edit_admin_admin_user_path(@admin_user) %> |
<%= link_to 'Back', admin_admin_users_path %>
