<ul class="nav">
  <li class="nav-item">
    <%= link_to "Admin Users", admin_admin_users_path, { class: 'nav-link' } %>
  </li>
  <li class="nav-item">
    <%= link_to "Prizes", admin_prizes_path, { class: 'nav-link' } %>
  </li>

  <li class="nav-item">
    <%= link_to "Site", root_path, { class: 'nav-link' } %>
  </li>
</ul>